.sobre-nos-container {
    padding: 20px;
    max-width: 1200px; /* Largura máxima do contêiner */
    margin: auto; /* Centraliza o contêiner na página */
    align-items: center;
    align-content: center;
    justify-content: center;
}

.titulo {
    text-align: left; /* Alinha o título à esquerda */
    font-size: 2.5em; /* Tamanho da fonte do título */
    margin-bottom: 20px; /* Espaçamento abaixo do título */
}

.blocos-container {
    display: flex; /* Usando flexbox para alinhar os blocos lado a lado */
    justify-content: space-between; /* Espaço entre os blocos */
    width: 70%; /* Definindo a largura total dos blocos como 70% */
}

.bloco {
    flex: 1; /* Cada bloco ocupa a mesma largura */
    margin: 0 30px; /* Aumentando a margem lateral entre os blocos */
    padding: 20px; /* Espaçamento interno dos blocos */
    border-radius: 8px; /* Bordas arredondadas */

}

.bloco h2 {
    margin-top: 0; /* Remove a margem superior do título do bloco */
}

.bloco p {
    font-size: 1.2em; /* Aumentando o tamanho da fonte do texto dos blocos */
}
.DuvidasContainer{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.duvidas-titulo {
    justify-content: center;
    align-items: center;
    text-align: left; /* Alinha o título à esquerda */
    font-size: 2.5em; /* Tamanho da fonte do título de dúvidas frequentes */
    margin: 40px 0 20px; /* Espaçamento acima e abaixo do título */
}

.duvidas-container {
    display: flex; /* Usando flexbox para alinhar os blocos lado a lado */
    justify-content: space-between; /* Espaço entre os blocos */
    width: 70%; /* Definindo a largura total dos blocos como 70% */
}

.duvida-bloco {
    flex: 1; /* Cada bloco ocupa a mesma largura */
    margin: 10px 0; /* Margem lateral entre os blocos */
    padding: 20px; /* Espaçamento interno dos blocos */
    border: 1px solid #ccc; /* Borda ao redor dos blocos */
    border-radius: 8px; /* Bordas arredondadas */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    background-color: #FEDD2C; /* Cor de fundo dos blocos */
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */
}
.duvidas-blocos {
    display: flex; /* Usando flexbox para alinhar os blocos de perguntas */
    flex-direction: column; /* Alinha os blocos em coluna */
    width: 100%; /* Faz com que os blocos ocupem toda a largura disponível */
    justify-content: space-between;
}

.duvida-bloco:hover {
    background-color: #e0e0e0; /* Cor de fundo ao passar o mouse */
}

.resposta {
    margin-top: 10px; /* Espaçamento acima da resposta */
    font-size: 1em; /* Tamanho da fonte da resposta */
}